<div class="message-container">
  <div class="d-flex justify-content-end">
    <p class="mb-0 message-current-user" id="message-<%= message.id %>">
      <span id="message-content"><%= message.content %></span>
      <span class="d-block" id="message-sent-time"><%= message.created_at.strftime("%l:%M%p") %></span>
    </p>
  </div>
</div>
