.bg-image {
  min-height: 500px;
  position: static;
  display: flex;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.bg-image::before {
  content: "";
  background-image: url('https://images.unsplash.com/photo-1573612664822-d7d347da7b80?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80');
  background-size: cover;
  background-position: center;
  filter: opacity(25%);
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

#logo-text {
  color: #011638;
  font-size: 56px;
  line-height: 84px;
  margin-top: 60px;
}

#description {
  font-weight: 400;
  font-size: 24px;
  line-height: 44px;
  margin: 28px 0 32px 0;
  // width: 900px;
}

////////

#home-img {
  padding-top: 80px;
  width: 380px;
}

#sign-up-btn {
  font-size: 22px;
  padding:8px 40px;
}

#how-it-works-img {
  width: 1083px;
}

#local-shopper-team-img {
  width: 860px;
  display:block;
  margin: 0 auto;
}
