// Import page-specific CSS files here.
@import "home";
@import "messages";
@import "profile";

h1 {
  padding-top: 1.25rem;
}

.container {
  margin-top: 1.35rem;
}

a {
  text-decoration: none;
  color:inherit;
}

a:hover {
  text-decoration: none;
  color:#8994D2;
}
