// Import page-specific CSS files here.
@import "home";
@import "messages";
@import "profile";

h1 {
  padding-top: 1.25rem;
}

.container {
  margin-top: 1.35rem;
}

a {
  color:inherit;
}

a:hover {
  color:#547748;
}