.message-current-user {
  border-radius: 20px;
  text-align: right;
  background-color: #F1DABF;
  padding: 10px 20px;
}

.message-other-user {
  border-radius: 20px;
  background: white;
  padding: 10px 20px;
}