#chatroom {
  height: 50vh;
  ::-webkit-scrollbar-track {
	  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
  }

  ::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #D6D2D0;
  }
}

#send-message {
  position: absolute;
  bottom: 25px;
  width: 72%;
}

#messages {
  height: 100%;
  overflow-y: scroll;
}

.message-current-user {
  border-radius: 15px;
  text-align: right;
  background-color: #F1DABF;
  padding: 5px 20px;
  margin-right: 25px;
}

.message-other-user {
  border-radius: 15px;
  background: white;
  padding: 10px 20px;
}

#message-sent-time {
  font-size: 10px;
}

#message-content {
  font-size: 14px;
}

#chatroom a:hover {
  color: rgb(85, 85, 85);
}

.form-group.string.required.message_content {
  width: 98%;
}

input#message_content {
  border-radius: 32px;
}

input#message_content::placeholder {
  text-align: right;
  padding-right: 10px;
}

input#message_content:focus {
  border-color: #edddd1;
  box-shadow: 0 0 0 0.2rem rgb(239, 231, 224);
}
