.message-current-user {
  border-radius: 15px;
  text-align: right;
  background-color: #F1DABF;
  padding: 5px 20px;
}

.message-other-user {
  border-radius: 15px;
  background: white;
  padding: 10px 20px;
}

#message-sent-time {
  font-size: 10px;
}

#message-content {
  font-size: 14px;
}