#review {
  padding:16px;
  text-align:left;
}

#reviews {
  text-align:left;
  padding:0 16px 0 0;
  margin-bottom:16px;
}

#profile {
  align-items:center;
  margin-bottom:32px;
}

#name_logo {
  text-align:left;
}


#profile_details {
  text-align:left;
  align-self:flex-end;
  padding-bottom:12px;
}

#user_name {
  margin-bottom:24px;
}


#user_profile_photo {
  margin:8px;
}

#profile_container {
  max-width:800px;
}

