#review {
  margin: 24px 0 32px 0;
  text-align:left;
}

#reviews {
  text-align:left;
  padding:0 16px 0 0;
  margin-bottom:16px;
}

.stars {
  margin-bottom: 12px;
}

#profile {
  align-items:center;
  margin-bottom:32px;
  height: 424px;
  box-shadow: none;
}

#name_logo {
  justify-content: center;
}

#profile {
  padding-left: 0;
}

#profile_details {
  text-align:center;
  align-self:flex-end;
  padding-bottom:12px;
  padding-left: 0;
  margin-top: 16px;
}

#user_name {
  margin-bottom:24px;
}


#user_profile_photo {
  margin-bottom: 16px;
  width: 225px;
  height: 225px;
}

#profile-name {
  margin-bottom: 16px;
}

#profile-location {
  font-weight: 600;
}

#edit-profile {
  justify-content: center;
}
