.show-title {
  letter-spacing: 1.05px;
  font-weight: 600;
  font-size: 18px;
  color: #afa7a4;
}


.show-subtitle {
  letter-spacing: 1.05px;
  font-weight: 600;
  font-size: 14px;
  color: #afa7a4;
}
