<div class="container">
  <div class="row justify-content-center">
    <div class="col-10 col-md-8">
      <h1>Edit Gift Request</h1>
      <%= render 'form', gift_request: @giftrequest %>
    </div>
  </div>
</div>