<!-- <div class="popup" id="popup-1">
  <div class="overlay"></div>
  <div class="content">
    <div class="close-btn" onclick="togglePopup()">×</div>
    <h1>Coool</h1>
    <p>your request have been succecfully created</p>
  </div>
</div>
 -->
