<nav class="nav row flex-column" id="sidebar">
  <div id="sidebar_container">
  <a class="sidebar-icon nav-link active" href="#"><i class="fas fa-home"></i></a>
  <a class="sidebar-icon nav-link" href="#"><i class="fas fa-comments"></i></a>
  <a class="sidebar-icon nav-link" href="#"><i class="fas fa-search"></i></a>
  </div>
</nav>
