.btn-primary {
  padding: 12px 24px;
  border-radius: 32px;
  background-color: #7484E1;
  font-family: 'Poppins', sans-serif;
  font-size: 1.1em;
}

.btn-primary:hover {
  text-decoration: none;
  background-color: #4E5DB7;
}

.pill-button {
  font-size: 10px;
  background-color: #ddd;
  border: none;
  color: black;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border-radius: 16px;
}

.pill-button-pending {
  background-color: rgb(197, 170, 170);
}

.pill-button-accepted {
  background-color: rgb(171, 197, 170);
}

.pill-button-purchased {
  background-color: rgb(197, 170, 194);
}

.pill-button-paid {
  background-color: rgb(170, 191, 197);
}

.pill-button-delivered {
  background-color: rgb(170, 197, 172);
}
