.btn-primary {
  padding: 12px 24px;
  border-radius: 32px;
  background-color: #7484E1;
  font-family: 'Poppins', sans-serif;
  font-size: 1.1em;
}

.btn-primary:hover {
  text-decoration: none;
  background-color: #4E5DB7;
}

.label {
  background-color: #111;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  height: 12px;
  width: 22px;
  transform: scale(1.5);
  margin-right: 10px;


}

.label .ball {
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  height: 8px;
  width: 8px;
  transform: translateX(0px);
  transition: transform 0.1s linear;
}

.checkbox {
  opacity: 0;
  position: absolute;


}

.checkbox:checked + .label .ball {
  transform: translateX(10px);
}
