.btn-primary {
  padding: 12px 24px;
  border-radius: 32px;
  background-color: #7484E1;
  font-family: 'Poppins', sans-serif;
  font-size: 1.1em;
}

.btn-primary:hover {
  text-decoration: none;
  background-color: #4E5DB7;
}
