// .card-gift .card-gift-infos {
//   justify-content: space-between;
//   align-items: flex-end;
//   position: relative;
//   padding-left: 18px;
// }

// .card-gift {
//   box-shadow: 0 0 15px rgba(105, 105, 105, 0.2);
//   margin-bottom: 10px;
//   padding: 16px 30px;
//   border-radius: 5px;
//   position: relative;
//   width:1140px;
// }

// .card-trip h2 {
//   font-size: 16px;
//   font-weight: bold;
//   margin: 0;
//   font-size: 80%;
// }

// .card-gift p {
//   font-size: 80%;
//   line-height: 1.4;
//   opacity: .7;
//   margin-bottom: 0;
//   margin-top: 10px;
// }

// .card-gift-infos .card-gift-user {
//   padding: 16px;
// }

// #info {
//   margin-bottom: 30px;
// }

// Card Request
.request-card {
  background: #FFFFFF;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  position: relative;
  color:black;
  padding: 20px 30px 8px 30px;
  font-size: 14px;
  margin-bottom: 1em;
  height: 90%;
  border: 3px solid white;
}

.request-card:hover {
  border: 3px solid #edddd1;
}

.card-recipient {
  letter-spacing: 1.05px;
  font-weight: 600;
  font-size: 10px;
  color: #afa7a4;
  text-transform: uppercase;
}

.card-date {
  font-size: 10px;
  color: #c2b9b6;
}

.request-card-button {
  font-size: 13px;
  color: #7484E1;
}

.request-card-button-see {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.16);
  color:#7484E1;
  border: 1px solid #7484E1;
  padding: 5px 15px;
  border-radius: 16px;
  transition:0.3s;
  font-size: 13px;
}

#request-card-avatar {
  position: absolute;
  top: 20px;
  right: 30px;
}

.chatroom-user {
  margin: auto 0 auto 8px;
}

#height-fix {
  height: 45px;
}
