.card-gift .card-gift-infos {
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  padding-left: 18px;


}

#card-gift-date{
  margin-left: 850px;
}

.card-gift {
  box-shadow: 0 0 15px rgba(105, 105, 105, 0.2);
  margin-bottom: 10px;
  padding: 16px 30px;

  border-radius: 5px;
  position: relative;
  width:1140px;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  font-size: 80%;
}

.card-gift p {
  font-size: 80%;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 10px;
}

.card-gift-infos .card-gift-user {
  padding: 16px;
}
#info{
  margin-bottom: 30px;
}


.container a {
  text-decoration: none;
  margin-top: 10px;
}

.request-card {
  box-shadow: 0 0 15px rgba(105, 105, 105, 0.2);
  margin: 16px 0;
  padding: 5px;
  font-size: 14px;
  border-radius: 5px;
  position: relative;
  color:black;
  padding:16px 20px;
}

.request-card .small-icon {
  margin-left:12px;
}

.dashboard a {
  text-decoration: none;
}

.request-card:hover {
  transform: scaleY(1.005);
}

.request-card-action-button {
  position: absolute;
  top: 16px;
  right: 20px;
}

#request-card-message-button {
  position: absolute;
  bottom: 5px;
  right: 30px;
}

#request-card-expand-button {
  position: absolute;
  bottom: 16px;
  right: 20px;
}

a {
  color:inherit;
}

a:hover {
  color:#547748;
}
