.mapboxgl-popup {
  max-width: 1000px;
  height: 450px;

}

.mapboxgl-marker.mapboxgl-marker-anchor-center svg g {
  fill:#8994D2;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  border: none;
  padding: none;

}

.mapCard {
  background: #FFFFFF;
  border-radius: 8px;
  color:black;
  width:200px;
  font-size: 14px;
  height:auto;

}

.mapCard h2 {
  font-size: 15px;

}
#map{
  margin-bottom:15px;
  border-radius: 5px;

}
.mapCard-products p {

margin-bottom: 2px;

}

