#sidebar {
  width:80px;
  align-items:center;
  float:left;
  margin:32px 48px;
}

#sidebar_container {
  background-color:#F1DABF;
  height:650px;
  width:80px;
  border-radius:16px;
}

.sidebar-icon {
  color: white;
  padding-left:22px;
  margin:16px 0 24px 0;
  font-size:2em;
}


.sidebar-icon:hover {
  color: #011638;
}

.sidebar-icon:active {
  color: #011638;
}

#new-gift {
  padding-left:25px;
}
