#sidebar {
  width:80px;
  align-items:center;
  float:left;
  margin:0px 48px 0px 80px;
  position: sticky;
  top: 110px;
}

#sidebar_container {
  background-color:#EEDDD2;
  height:80vh;
  width:80px;
  border-radius:16px;
  box-shadow: 2px 4px 10px 0px #00000014;
}

.sidebar-icon {
  color: white;
  margin:16px 0 32px 0;
  font-size:2em;
}

.current-icon {
  display: flex;
  justify-content: center;
  // width: 52px;
  // height: 52px;
  background: #FBF5EF;
  margin: auto;
  border-radius: 12px;
}

.nav-icon {
  color: white;
  padding: 7px 2px; // changed by Hannah
  margin: auto;
  display: block;
  vertical-align: middle;
}


.nav-icon:hover {
  opacity: 60%;
}
